/* トップページ アクセス */
.access {
  padding: 10rem 0;
}
.accessTitle {
  color: #333;
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.8;
  margin-bottom: 5rem;
  position: relative;
  z-index: -1;
}
.accessTitle__wrap {
  position: relative;
  padding-top: 5rem;
  width: 100%;
}
.accessTitle__wrap::before {
  content: "";
  position: absolute;
  left: 0;
  background: #ffd79a;
  width: 100%;
  height: 1px;
  top: 2px;
}
.accessTitle__wrap::after {
  content: "";
  position: absolute;
  left: 0;
  background: #ff914d;
  top: 0;
  width: 30rem;
  height: 5px;
}
.accessTitle__sub {
  font-family: "Noto Serif JP", serif;
  font-size: 4rem;
  color: #ff914d;
  margin-bottom: 1rem;
  position: relative;
}
.accessText {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 1.6rem;
  color: #333;
  letter-spacing: 0.1em;
  margin-bottom: 4rem;
  line-height: 1.6;
}
.accessText.-address {
  font-weight: bold;
  line-height: 1.8;
  letter-spacing: 0.15em;
}

.accessList {
  display: flex;
  flex-direction: column;
  margin: 3rem 0 10rem;
}
.accessList__item {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 2rem;
  color: #333;
  letter-spacing: 0.1em;
  margin-bottom: 2rem;
}
.accessList__item span {
  font-weight: bold;
}
.accessList__link {
  font-family: "Noto Serif JP", serif;
  display: block;
  width: 50%;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #fff;
  background-color: #ff914d;
  text-align: center;
  margin: auto;
  padding: 2rem 3rem;
  border: 1px solid #ff8c00;
  line-height: 1.6;
}
.accessList__link:hover {
  color: #ff914d;
  background-color: #fff;
  border: 1px solid #ff914d;
}

/* アクセス詳細ページ */
.accessDetail {
  padding: 20rem 0 15rem;
}
.accessDetail__text {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  text-align: center;
  color: #333;
  line-height: 2;
  margin-bottom: 3rem;
}
.accessDetail__title {
  color: #333;
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.8;
  margin-bottom: 5rem;
  position: relative;
  z-index: -1;
}

.accessDetail__titleWrap {
  position: relative;
  padding-top: 5rem;
  width: 100%;
}
.accessDetail__titleWrap::before {
  content: "";
  position: absolute;
  left: 0;
  background: #ffd79a;
  width: 100%;
  height: 1px;
  top: 2px;
}
.accessDetail__titleWrap::after {
  content: "";
  position: absolute;
  left: 0;
  background: #ff914d;
  top: 0;
  width: 30rem;
  height: 5px;
}
.accessDetail__titleSub {
  font-family: "Noto Serif JP", serif;
  font-size: 4rem;
  color: #ff914d;
  margin-bottom: 1rem;
  position: relative;
}
.accessDetail__text {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 1.6rem;
  color: #333;
  text-align: left;
  letter-spacing: 0.1em;
  margin-bottom: 4rem;
}
.accessDetail__text.-second {
  font-size: 2rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.accessDetail__address {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  color: #333;
  letter-spacing: 0.1em;
  margin-bottom: 4rem;
  line-height: 1.8;
  letter-spacing: 0.15em;
}

.accessDetail__wayWrap {
  padding: 3rem 0 10rem;
  position: relative;
}

.accessDetail__wayTitle {
  font-family: "Noto Serif JP", serif;
  font-size: 3rem;
  color: #ff914d;
  background-color: #fff;
  padding-right: 1rem;
  position: relative;
  z-index: 1;
  display: inline-block;
}
.accessDetail__wayWrap::before {
  content: "";
  width: 100%;
  height: 1px;
  background: #ffd79a;
  position: absolute;
  left: 0;
  top: 30%;
  z-index: -1;
}
.accessDetail__wayList {
  counter-reset: step;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 5rem;
  row-gap: 10rem;
  margin-bottom: 10rem;
}
.accessDetail__wayItem {
  border: 3px solid #ff914d;
  border-radius: 13px;
  position: relative;
}
.accessDetail__wayItem::before {
  counter-increment: step;
  content: counter(step);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  color: #333;
  background-color: #fff;
  border: 5px double #ff8c00;
  top: -4rem;
  left: 50%;
  transform: translateX(-50%);
}
.accessDetail__wayImg {
  width: 100%;
  height: 100%;
  aspect-ratio: 300/350;
  object-fit: cover;
  border-radius: 10px;
}
.accessDetail__wayImg.-sixth,
.accessDetail__wayImg.-seventh {
  object-position: top;
}

/* レスポンシブ */
@media screen and (max-width: 1024px) {
  .accessDetail__wayList {
    column-gap: 4rem;
    row-gap: 7rem;
  }
}
@media screen and (max-width: 768px) {
  .access {
    padding: 5rem 0;
  }
  .accessTitle__wrap {
    padding-top: 3rem;
  }
  .accessTitle__sub,
  .accessDetail__titleSub {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
  }
  .accessTitle__wrap::after,
  .accessDetail__titleWrap::after {
    width: 20rem;
  }
  .accessTitle,
  .accessDetail__title {
    font-size: 2rem;
  }
  .accessDetail {
    padding: 10rem 0 5rem;
  }
  .accessDetail__title {
    margin-bottom: 3rem;
  }
  .accessDetail__wayWrap {
    padding: 3rem 0 8rem;
  }
  .accessDetail__wayTitle {
    font-size: 2.4rem;
  }

  .accessList__link {
    width: 60%;
    font-size: 1.6rem;
    padding: 2rem 4rem;
  }
  .accessList__item {
    font-size: 1.6rem;
  }
  .accessDetail__wayList {
    column-gap: 3rem;
    row-gap: 5rem;
  }
  .accessDetail__wayItem::before {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    top: -3rem;
  }
  .accessDetail__text.-second {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 480px) {
  .accessTitle__sub,
  .accessDetail__titleSub {
    font-size: 2.4rem;
  }
  .accessTitle__wrap::after,
  .accessDetail__titleWrap::after {
    width: 10rem;
  }
  .accessTitle,
  .accessDetail__title {
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }
  .accessText,
  .accessDetail__text {
    font-size: 1.4rem;
    margin-bottom: 0;
  }

  .accessList {
    margin: 3rem 0 3rem;
  }
  .accessList__link {
    width: 75%;
    font-size: 1.2rem;
    padding: 2rem 2rem;
  }
  .accessList__item {
    font-size: 1.4rem;
  }
  .accessDetail__wayWrap {
    padding: 3rem 0 8rem;
  }
  .accessDetail__wayTitle {
    font-size: 1.8rem;
  }
  .accessDetail__wayList {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 5rem;
    margin-top: -2rem;
    margin-bottom: 4rem;
  }
  .accessDetail__wayItem::before {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.4rem;
    top: -2rem;
  }
  .accessDetail__address {
    font-size: 1.4rem;
  }
  .accessDetail__text.-second {
    font-size: 1.4rem;
    letter-spacing: 0.05em;
  }
}
