/* ブログ一覧ページ */
.archiveBlogs {
  padding-bottom: 20rem;
}
.archiveBlogs__mv {
  position: relative;
  width: 100%;
  height: auto;
  padding: 20rem 0 10rem;
}
.archiveBlogs__mvImg {
  width: 70%;
  height: auto;
  aspect-ratio: 700/400;
  object-fit: cover;
}
.archiveBlogs__mvText {
  position: absolute;
  font-family: "Noto Serif JP", serif;
  font-size: 3.6rem;
  color: #ff914d;
  background-color: #fff;
  width: 50%;
  height: 15rem;
  top: 30rem;
  right: 0;
  padding: 1rem 1rem 1rem 2rem;
}
.archiveBlogs__mvText::before {
  position: absolute;
  content: "";
  background: #ffd79a;
  width: 80%;
  height: 2px;
  top: 5.5rem;
  left: 2rem;
}
.archiveBlogs__mvText::after {
  position: absolute;
  content: "ブログ一覧";
  color: #333;
  font-family: "Noto Serif JP", serif;
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.8;
  left: 2rem;
  top: 6rem;
}
.archiveBlogs__titleWrap {
  position: relative;
  padding-top: 10rem;
  width: 100%;
}
.archiveBlogs__titleWrap::before {
  content: "";
  position: absolute;
  left: 0;
  background: #ffd79a;
  width: 100%;
  height: 1px;
  top: 2px;
}
.archiveBlogs__titleWrap::after {
  content: "";
  position: absolute;
  left: 0;
  background: #ff914d;
  top: 0;
  width: 30rem;
  height: 5px;
}
.archiveBlogs__subTitle {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  color: #ff914d;
  text-align: center;
  margin-bottom: 5rem;
  position: relative;
}
.archiveBlogs__list {
  display: flex;
  flex-direction: column;
}
.archiveBlogs__item {
  width: 100%;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ff914d;
}
.archiveBlogs__itemLink {
  width: 100%;
  display: flex;
}
.archiveBlogs__itemLink:hover {
  opacity: 0.7;
}
.archiveBlogs__item img {
  width: 18rem;
  height: auto;
  aspect-ratio: 20/20;
  object-fit: cover;
  border: 1px solid #ff914d;
  border-bottom: none;
}
.archiveBlogs__itemWrap {
  display: block;
  margin: 1rem 0 0 2rem;
  position: relative;
}
.archiveBlogs__itemTitle {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 2rem;
  letter-spacing: 0.1em;
}
.archiveBlogs__itemDate {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 2rem;
  letter-spacing: 0.1em;
}
.archiveBlogs__itemText {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #333;
  letter-spacing: 0.1em;
  line-height: 1.4;
}
.archiveBlogs__itemButton {
  font-size: 1.4rem;
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  padding: 1rem 2rem;
  color: #fff;
  background-color: #ff914d;
}

/* 個別ブログページ */
.singleBlogs {
  padding-bottom: 20rem;
}
.singleBlogs__mv {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 20rem;
}
.singleBlogs__mvImg {
  width: 70%;
  height: auto;
  aspect-ratio: 700/400;
  object-fit: cover;
}

.singleBlogs__mvText {
  position: absolute;
  font-family: "Noto Serif JP", serif;
  font-size: 3.6rem;
  color: #ff914d;
  background-color: #fff;
  width: 50%;
  height: 15rem;
  top: 30rem;
  right: 0;
  padding: 1rem 1rem 1rem 2rem;
}
.singleBlogs__mvText::before {
  position: absolute;
  content: "";
  background: #ffd79a;
  width: 80%;
  height: 2px;
  top: 5.5rem;
  left: 2rem;
}
.singleBlogs__mvText::after {
  position: absolute;
  content: "ブログ";
  color: #333;
  font-family: "Noto Serif JP", serif;
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.8;
  left: 2rem;
  top: 6rem;
}
.singleBlogs__inner,
.archiveBlogs__inner {
  width: 100%;
  max-width: 800px;
  margin: auto;
}
.singleBlogs__content {
  padding: 10rem 0;
}
.singleBlogs__content img {
  width: 100%;
  max-width: 800px;
  height: auto;
  aspect-ratio: 400/300;
  object-fit: cover;
  margin-bottom: 2rem;
}
.singleBlogs__content p {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 2rem;
  color: #333;
  line-height: 1.6;
}
.singleBlogs__titleWrap {
  position: relative;
  padding-top: 5rem;
  width: 100%;
}
.singleBlogs__titleWrap::before {
  content: "";
  position: absolute;
  left: 0;
  background: #ffd79a;
  width: 100%;
  height: 1px;
  top: 2px;
}
.singleBlogs__titleWrap::after {
  content: "";
  position: absolute;
  left: 0;
  background: #ff914d;
  top: 0;
  width: 30rem;
  height: 5px;
}
.singleBlogs__subTitle {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  color: #ff914d;
  text-align: center;
  margin-bottom: 5rem;
  position: relative;
}
.singleBlogs__imgWrap {
  width: 100%;
  margin: auto;
}

.singleBlogs__img {
  width: 30rem;
  height: 30rem;
}
@media screen and (max-width: 1024px) {
  .singleBlogs__mvText,
  .archiveBlogs__mvText {
    font-size: 3rem;
    height: 12rem;
    top: 24rem;
  }
  .singleBlogs__mvText::after,
  .archiveBlogs__mvText::after {
    font-size: 1.8rem;
    top: 5.5rem;
  }
  .singleBlogs__mvText::before,
  .archiveBlogs__mvText::before {
    top: 5rem;
  }
  .singleBlogs__inner,
  .archiveBlogs__inner {
    max-width: 700px;
  }
  .singleBlogs__titleWrap::after,
  .archiveBlogs__titleWrap::after {
    width: 25rem;
  }
  .singleBlogs__inner,
  .archiveBlogs__inner {
    max-width: 650px;
  }
}
@media screen and (max-width: 768px) {
  .singleBlogs,
  .archiveBlogs {
    padding: 10rem 0 5rem;
  }
  .singleBlogs__mv,
  .archiveBlogs__mv {
    padding-top: 3rem;
  }
  .singleBlogs__mvText,
  .archiveBlogs__mvText {
    font-size: 2.4rem;
    width: 45%;
    height: 10rem;
    top: 7rem;
  }
  .singleBlogs__mvText::before,
  .archiveBlogs__mvText::before {
    top: 4.5rem;
  }
  .singleBlogs__mvText::after,
  .archiveBlogs__mvText::after {
    font-size: 1.4rem;
    top: 5rem;
  }
  .singleBlogs__content {
    padding: 5rem 0;
  }
  .singleBlogs__titleWrap::after,
  .archiveBlogs__titleWrap::after {
    width: 20rem;
  }
  .singleBlogs__subTitle {
    font-size: 2rem;
  }
  .singleBlogs__inner,
  .archiveBlogs__inner {
    max-width: 550px;
  }
  .singleBlogs__content img {
    margin-bottom: 0;
  }
  .singleBlogs__content p {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 480px) {
  .singleBlogs,
  .archiveBlogs {
    padding: 5rem 0 5rem;
  }
  .singleBlogs__titleWrap::after,
  .archiveBlogs__titleWrap::after {
    width: 10rem;
  }
  .singleBlogs__subTitle {
    font-size: 1.4rem;
    margin-bottom: 3rem;
  }
  .singleBlogs__mvText,
  .archiveBlogs__mvText {
    font-size: 2.2rem;
    width: 55%;
    height: 7rem;
    padding: 1rem 1rem 1rem 1.5rem;
    top: 10rem;
  }
  .singleBlogs__mv::before,
  .archiveBlogs__mv::before {
    height: 35rem;
  }
  .singleBlogs__mvText::after,
  .archiveBlogs__mvText::after {
    font-size: 1.4rem;
    top: 4.5rem;
    left: 1.5rem;
  }
  .singleBlogs__mvText::before,
  .archiveBlogs__mvText::before {
    top: 4rem;
    left: 1.5rem;
  }
  .singleBlogs__mvImg,
  .archiveBlogs__mvImg {
    width: 100%;
    aspect-ratio: 700/500;
  }
  .singleBlogs__content p {
    font-size: 1.4rem;
  }
}
