/* ブログ一覧ページ */
.archiveBlogs {
  padding-bottom: 20rem;
  position: relative;
}
/* ページネーション */
.archiveBlogs__Pagination {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
.archiveBlogs__Pagination .page-numbers {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  border: 1px solid #ddd;
  margin-right: 1rem;
}
.archiveBlogs__Pagination .page-numbers:hover {
  color: #fff;
  background-color: #ff8c00;
}
.archiveBlogs__Pagination .page-numbers.current {
  color: #fff;
  background-color: #ff8c00;
  border: none;
}
.archiveBlogs__Pagination .page-numbers.current:hover {
  opacity: 1;
}

.archiveBlogs__mv {
  position: relative;
  width: 100%;
  height: auto;
  padding: 20rem 0 10rem;
}
.archiveBlogs__mvImg {
  width: 70%;
  height: auto;
  aspect-ratio: 700/400;
  object-fit: cover;
}
.archiveBlogs__mvText {
  position: absolute;
  font-family: "Noto Serif JP", serif;
  font-size: 3.6rem;
  color: #ff914d;
  background-color: #fff;
  width: 50%;
  height: 15rem;
  top: 30rem;
  right: 0;
  padding: 1rem 1rem 1rem 2rem;
}
.archiveBlogs__mvText::before {
  position: absolute;
  content: "";
  background: #ffd79a;
  width: 80%;
  height: 2px;
  top: 5.5rem;
  left: 2rem;
}
.archiveBlogs__mvText::after {
  position: absolute;
  content: "ブログ一覧";
  color: #333;
  font-family: "Noto Serif JP", serif;
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.8;
  left: 2rem;
  top: 6rem;
}
.archiveBlogs__titleWrap {
  position: relative;
  padding-top: 10rem;
  width: 100%;
}
.archiveBlogs__titleWrap::before {
  content: "";
  position: absolute;
  left: 0;
  background: #ffd79a;
  width: 100%;
  height: 1px;
  top: 2px;
}
.archiveBlogs__titleWrap::after {
  content: "";
  position: absolute;
  left: 0;
  background: #ff914d;
  top: 0;
  width: 30rem;
  height: 5px;
}
.archiveBlogs__subTitle {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  color: #ff914d;
  text-align: center;
  margin-bottom: 5rem;
  position: relative;
}
.archiveBlogs__list {
  display: flex;
  flex-direction: column;
}
.archiveBlogs__item {
  width: 100%;
  margin-bottom: 2rem;
  border-bottom: 1px solid #ff914d;
}
.archiveBlogs__itemLink {
  width: 100%;
  display: flex;
}
.archiveBlogs__itemLink:hover {
  opacity: 0.7;
}
.archiveBlogs__item img {
  width: 18rem;
  height: auto;
  aspect-ratio: 20/20;
  object-fit: cover;
  border: 1px solid #ff914d;
  border-bottom: none;
}
.archiveBlogs__itemWrap {
  display: block;
  margin: 1rem 0 0 2rem;
  padding-bottom: 2rem;
  position: relative;
}
.archiveBlogs__itemTitle {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
  letter-spacing: 0.1em;
}
.archiveBlogs__itemFlex {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 1rem;
}
.archiveBlogs__itemDate {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 2rem;
  letter-spacing: 0.1em;
}

.archiveBlogs__itemCategory {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  color: #000;
  padding: 1rem 2rem;
  letter-spacing: 0.1em;
  background: linear-gradient(45deg, #e0f4fc, #a3d4f7 40%, #79bce3 70%);
}

.archiveBlogs__itemText {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #333;
  letter-spacing: 0.1em;
  line-height: 1.4;
}
.archiveBlogs__itemButton {
  font-size: 1.4rem;
  position: absolute;
  right: 0;
  bottom: 0.5rem;
  padding: 1rem 2rem;
  color: #fff;
  background-color: #ff914d;
}
.archiveBlogs__itemText.-second {
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1em;
}
/* 個別ブログページ */
.singleBlogs {
  /* padding-bottom: 20rem; */
}
.singleBlogs__mv {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 20rem;
}
.singleBlogs__mvImg {
  width: 70%;
  height: auto;
  aspect-ratio: 700/400;
  object-fit: cover;
}

.singleBlogs__mvText {
  position: absolute;
  font-family: "Noto Serif JP", serif;
  font-size: 3.6rem;
  color: #ff914d;
  background-color: #fff;
  width: 50%;
  height: 15rem;
  top: 30rem;
  right: 0;
  padding: 1rem 1rem 1rem 2rem;
}
.singleBlogs__mvText::before {
  position: absolute;
  content: "";
  background: #ffd79a;
  width: 80%;
  height: 2px;
  top: 5.5rem;
  left: 2rem;
}
.singleBlogs__mvText::after {
  position: absolute;
  content: "ブログ";
  color: #333;
  font-family: "Noto Serif JP", serif;
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.8;
  left: 2rem;
  top: 6rem;
}
.singleBlogs__inner,
.archiveBlogs__inner {
  width: 100%;
  max-width: 800px;
  margin: auto;
}
.singleBlogs__content {
  padding: 10rem 0 5rem;
}
.singleBlogs__content img {
  width: 100%;
  max-width: 800px;
  height: auto;
  aspect-ratio: 400/300;
  object-fit: cover;
  margin-bottom: 2rem;
}
.singleBlogs__content p {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 1.8rem;
  color: #333;
  line-height: 1.6;
}
.singleBlogs__titleWrap {
  position: relative;
  padding-top: 5rem;
  width: 100%;
}
.singleBlogs__titleWrap::before {
  content: "";
  position: absolute;
  left: 0;
  background: #ffd79a;
  width: 100%;
  height: 1px;
  top: 2px;
}
.singleBlogs__titleWrap::after {
  content: "";
  position: absolute;
  left: 0;
  background: #ff914d;
  top: 0;
  width: 30rem;
  height: 5px;
}
.singleBlogs__subTitle {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  color: #ff914d;
  text-align: center;
  margin-bottom: 5rem;
  position: relative;
}
.singleBlogs__imgWrap {
  width: 100%;
  margin: auto;
}
.singleBlogs__img {
  width: 30rem;
  height: 30rem;
}
.singleBlogs__BackToArchive {
  width: 30%;
  display: block;
  font-size: 1.8rem;
  padding: 2rem 3rem;
  margin: auto;
  margin-top: 20rem;
  text-align: center;
  background: linear-gradient(45deg, #e0f4fc, #a3d4f7 40%, #79bce3 70%);
  border: 1p solid #eee;
}
.singleBlogs__archiveLink {
  color: #333;
  text-shadow: 1px 1px 1px #fff;
}
.singleBlogs__archiveLink:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1024px) {
  .singleBlogs__mvText,
  .archiveBlogs__mvText {
    font-size: 3rem;
    height: 12rem;
    top: 24rem;
  }
  .singleBlogs__mvText::after,
  .archiveBlogs__mvText::after {
    font-size: 1.8rem;
    top: 5.5rem;
  }
  .singleBlogs__mvText::before,
  .archiveBlogs__mvText::before {
    top: 5rem;
  }
  .singleBlogs__inner,
  .archiveBlogs__inner {
    max-width: 700px;
  }
  .singleBlogs__titleWrap::after,
  .archiveBlogs__titleWrap::after {
    width: 25rem;
  }
  .singleBlogs__inner,
  .archiveBlogs__inner {
    max-width: 650px;
  }
  .archiveBlogs__itemTitle {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  .archiveBlogs__itemDate {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  .archiveBlogs__itemText {
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 768px) {
  .singleBlogs {
    padding: 10rem 0 5rem;
  }
  .archiveBlogs {
    padding: 10rem 0 20rem;
  }
  .singleBlogs__mv,
  .archiveBlogs__mv {
    padding-top: 3rem;
  }
  .singleBlogs__mvText,
  .archiveBlogs__mvText {
    font-size: 2.4rem;
    width: 45%;
    height: 10rem;
    top: 7rem;
  }
  .singleBlogs__mvText::before,
  .archiveBlogs__mvText::before {
    top: 4.5rem;
  }
  .singleBlogs__mvText::after,
  .archiveBlogs__mvText::after {
    font-size: 1.4rem;
    top: 5rem;
  }
  .singleBlogs__content {
    padding: 5rem 0 0;
  }
  .singleBlogs__titleWrap::after,
  .archiveBlogs__titleWrap::after {
    width: 20rem;
  }
  .singleBlogs__subTitle {
    font-size: 2rem;
  }
  .singleBlogs__inner,
  .archiveBlogs__inner {
    max-width: 550px;
  }

  .singleBlogs__content p {
    font-size: 1.6rem;
  }
  .archiveBlogs__itemWrap {
    margin-top: 0.5rem;
  }
  .archiveBlogs__itemTitle {
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }
  .archiveBlogs__itemText.-second {
    font-size: 1.8rem;
  }
  .archiveBlogs__itemCategory {
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
  }
  .archiveBlogs__Pagination .page-numbers {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.8rem;
  }
  .singleBlogs__BackToArchive {
    font-size: 1.6rem;
    margin-top: 15rem;
  }
}
@media screen and (max-width: 480px) {
  .archiveBlogs__mv {
    padding-bottom: 5rem;
  }
  .archiveBlogs__titleWrap {
    padding-top: 5rem;
  }
  .archiveBlogs__subTitle {
    font-size: 2rem;
  }
  .archiveBlogs {
    padding: 5rem 0 10rem;
  }
  .singleBlogs {
    padding: 5rem 0 3rem;
  }
  .singleBlogs__titleWrap::after,
  .archiveBlogs__titleWrap::after {
    width: 10rem;
  }
  .singleBlogs__subTitle {
    font-size: 1.4rem;
    margin-bottom: 3rem;
  }
  .singleBlogs__mvText,
  .archiveBlogs__mvText {
    font-size: 2.2rem;
    width: 55%;
    height: 7rem;
    padding: 1rem 1rem 1rem 1.5rem;
    top: 10rem;
  }
  .singleBlogs__mv::before,
  .archiveBlogs__mv::before {
    height: 35rem;
  }
  .singleBlogs__mvText::after,
  .archiveBlogs__mvText::after {
    font-size: 1.4rem;
    top: 4.5rem;
    left: 1.5rem;
  }
  .singleBlogs__mvText::before,
  .archiveBlogs__mvText::before {
    top: 4rem;
    left: 1.5rem;
  }
  .singleBlogs__mvImg,
  .archiveBlogs__mvImg {
    width: 100%;
    aspect-ratio: 700/500;
  }
  .singleBlogs__content p {
    font-size: 1.4rem;
  }
  .archiveBlogs__itemLink {
    flex-direction: column;
  }
  .archiveBlogs__item {
    margin-bottom: 4rem;
  }
  .archiveBlogs__item img {
    width: 100%;
    margin-bottom: 2rem;
    aspect-ratio: 20/12;
    border-bottom: 1px solid #ff914d;
  }
  .archiveBlogs__itemWrap {
    margin: 0;
    margin-bottom: 2rem;
    padding: 0rem 0 8rem 0;
  }
  .archiveBlogs__itemButton {
    right: 50%;
    transform: translateX(50%);
  }
  .archiveBlogs__itemText.-second {
    font-size: 1.6rem;
  }
  .archiveBlogs__Pagination .page-numbers {
    width: 2rem;
    height: 2rem;
    font-size: 1.6rem;
  }
  .singleBlogs__BackToArchive {
    width: 40%;
    padding: 1.5rem 3rem;
    margin-top: 10rem;
  }
  .singleBlogs__archiveLink {
    font-size: 1.4rem;
  }
}
