.footer {
  width: 100%;
  height: 20rem;
  padding: 2rem 0 7rem;
  background: linear-gradient(to bottom, #ffd79a, #ffecb5);
}
.footerInner {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  max-width: 1180px;
  padding-right: 1rem;
  padding-left: 1rem;
  margin: 0 auto;
}
.footerLogo__wrap {
  display: flex;
  align-items: center;
}
.footerLogo {
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 3.5rem;
  letter-spacing: 0.15em;
  color: #000;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
.footerLogo__img {
  width: 8rem;
  height: auto;
  padding-top: 1rem;
  margin-left: -1rem;
}
.footerAdress {
  font-family: "Noto Serif JP", serif;
  font-style: normal;
  font-size: 2rem;
  color: #000;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  margin-right: 3rem;
}

.footerLine {
  display: block;
  width: 15rem;
  height: auto;
  margin-top: 2rem;
}
.footerLine img {
  border-radius: 8px;
}
.footerLine:hover {
  opacity: 0.8;
}

.footerPhone {
  font-family: "Noto Serif JP", serif;
  font-style: normal;
  font-size: 2rem;
  color: #000;
  line-height: 1.5;
  letter-spacing: 0.1em;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}
.whiteIcon.-footer {
  font-size: 1.6rem;
  padding: 1rem;
  text-shadow: none;
}
.footerPhone:hover {
  color: #ff914d;
}
.footerCopy {
  display: block;
  font-size: 1.4rem;
  color: #000;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
  background: linear-gradient(to bottom, #ffd79a, #ffecb5);
  text-align: center;
  padding: 3rem 0;
}

@media screen and (max-width: 1024px) {
  .footerLogo {
    font-size: 3rem;
  }
}
@media screen and (max-width: 768px) {
  .footerInner {
    flex-direction: column;
  }
  .footerLogo {
    font-size: 2.4rem;
  }
  .footerLogo__img {
    width: 7rem;
  }
  .footerAdress {
    font-size: 1.6rem;
  }
  .footerPhone {
    font-size: 1.6rem;
  }
  .whiteIcon.-footer {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    height: 17rem;
  }
  .footerInner {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  .footerLogo {
    font-size: 2rem;
  }
  .footerLogo__img {
    width: 5.5rem;
  }
  .footerAdress {
    font-size: 1.4rem;
  }
  .footerLine {
    width: 10rem;
  }
  .footerPhone {
    font-size: 1.4rem;
  }
  .whiteIcon.-footer {
    padding: 0.7rem;
  }
  .footerCopy {
    font-size: 1.2rem;
    padding: 2rem 0;
  }
}
