@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400&display=swap");

.header {
  width: 100%;
  height: 9rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: all 0.3s ease;
  background-color: #fff;
}
.headerLogo__wrap {
  display: flex;
  align-items: center;
}
.headerLogo {
  font-family: "Zen Maru Gothic", sans-serif;
  font-size: 3.5rem;
  letter-spacing: 0.15em;
  color: #fff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}
.headerLogo__img {
  width: 8rem;
  height: auto;
  padding-top: 1rem;
  margin-left: -1rem;
}
.headerInner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1180px;
  padding-right: 1rem;
  padding-left: 1rem;
  margin: 0 auto;
}
.headerList {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.headerList__item.-phone {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}
.headerList__item.-line {
  display: block;
  width: 12rem;
  height: auto;
  margin-right: 2rem;
}
.headerList__item.-line img {
  border-radius: 8px;
}
.headerList__item.-line:hover {
  opacity: 0.8;
}
.headerList__itemPhone {
  font-size: 2.4rem;
  font-weight: bold;
  color: #333;
}
.headerList__itemPhone:hover {
  color: #ff914d;
}
.whiteIcon {
  font-size: 2rem;
  color: #fff;
  border-radius: 50%;
  background-color: #ff914d;
  padding: 1rem;
  margin-top: 1rem;
}
.whiteIcon.-hamburger {
  margin-right: 0.5rem;
}

.headerUnder__navWrap {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 8rem;
  left: 0;
  z-index: 2000;
  border-bottom: 2px solid #eee;
}
.headerUnder__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  max-width: 1180px;
  padding-right: 1rem;
  padding-left: 1rem;
  margin: 0 auto;
}
.headerUnder__navList {
  width: calc(100% / 6);
  text-align: center;
  cursor: pointer;
}

.headerUnder__navList:last-child {
  border-right: none;
}
.headerUnder__navItem {
  display: block;
  font-family: "Noto Serif JP", serif;
  font-size: 1.6rem;
  color: #333;
  padding: 2rem 3rem 2rem 3rem;
  position: relative;
  text-decoration: none;
  overflow: hidden;
}
.headerUnder__navItem:hover {
  color: #ff914d;
}
.headerUnder__navItem::after {
  content: "";
  position: absolute;
  bottom: 1rem;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #ff914d;
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
}
.headerUnder__navItem:hover::after {
  width: 50%;
}

/* ハンバーガーメニュー */
.hamburgerBtn {
  display: none;
}
.hamburgerNav {
  display: none;
}

.hamburgerNav__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  padding-top: 1rem;
}
.hamburgerNav__item {
  display: block;
  padding: 2.5rem;
  font-size: 1.6rem;
  text-align: center;
  position: relative;
  text-decoration: none;
  overflow: hidden;
}
.hamburgerNav__item::after {
  content: "";
  position: absolute;
  bottom: 1rem;
  left: 50%;
  width: 50%;
  height: 1px;
  background-color: #ff914d;
  transition: width 0.3s ease-in-out;
  transform: translateX(-50%);
}
.hamburgerNav__item.-phone {
  padding-bottom: 0;
}
.hamburgerNav__item.-phone::after,
.hamburgerNav__item.-line::after {
  width: 0;
}
.hamburgerNav__link {
  color: #000;
}
.hamburgerNav__link.-phone {
  color: #333;
  font-size: 1.8rem;
  font-weight: bold;
}
.hamburgerNav__item.-line {
  display: block;
  width: 12rem;
  height: auto;
  margin: auto;
  margin-top: 0;
  padding: 2rem 0 1rem 3rem;
}
.hamburgerNav__item.-line img {
  border-radius: 8px;
}
.hamburgerNav__item.-line:hover {
  opacity: 0.8;
}

/* レスポンシブ */
@media screen and (max-width: 1024px) {
  .headerLogo {
    font-size: 3rem;
  }
  .headerList__itemPhone {
    font-size: 2rem;
  }
  .whiteIcon {
    font-size: 1.6rem;
  }
  .headerUnder__navItem {
    padding: 2rem 1rem;
  }
  .hamburgerBtn {
    display: none;
  }
  .hamburgerNav {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 7rem;
    right: 0;
    display: flex;
    background-color: #fff;
    opacity: 0.9;
    z-index: 3000;
    transform: translateX(1000px);
    transition: transform 0.5s ease-in-out;
  }
  .hamburgerNav.translateX {
    transform: translateX(0);
  }
}
@media screen and (max-width: 768px) {
  .header {
    height: 7rem;
    border-bottom: 1px solid #ddd;
  }
  .headerLogo {
    font-size: 2.4rem;
  }
  .headerLogo__img {
    width: 7rem;
  }
  .headerList {
    display: none;
  }
  .headerUnder__navWrap {
    display: none;
  }
  .hamburgerBtn {
    display: block;
    width: 40px;
    height: 30px;
    background-color: transparent;
    position: relative;
    margin-right: 3rem;
    border: none;
  }
  .hamburgerBtn span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #333;
    position: absolute;
    opacity: 1;
    transition: all 0.5s ease-in-out;
    transform-origin: center;
  }
  .hamburgerBtn span:nth-child(1) {
    top: 0.8rem;
  }
  .hamburgerBtn span:nth-child(2) {
    top: 1.6rem;
  }
  .hamburgerBtn span:nth-child(3) {
    top: 2.4rem;
  }
  .hamburgerBtn span.opacity {
    opacity: 0;
  }
  .hamburgerBtn span.rotateRight {
    top: 1.6rem;
    background-color: #ff914d;
    transform: rotate(45deg);
  }
  .hamburgerBtn span.rotateLeft {
    top: 1.6rem;
    background-color: #ff914d;
    transform: rotate(-45deg);
  }
}
@media screen and (max-width: 480px) {
  .header {
    height: 5.5rem;
  }
  .headerLogo {
    font-size: 2rem;
  }
  .headerLogo__img {
    width: 5.5rem;
  }
  .hamburgerBtn {
    width: 35px;
    height: 30px;
  }
  .hamburgerBtn span {
    width: 25px;
  }
  .hamburgerNav {
    top: 5rem;
    padding-top: 3rem;
  }
  .hamburgerNav__item {
    font-size: 1.6rem;
    padding: 2rem 0;
    bottom: 0;
  }
  .hamburgerNav__item::after {
    bottom: 0;
  }
  .hamburgerNav__item.-phone {
    margin-bottom: 1rem;
  }
  .hamburgerNav__link.-phone {
    font-size: 1.8rem;
  }
  .whiteIcon.-hamburger {
    font-size: 1.4rem;
    padding: 0.7rem;
  }
  .hamburgerNav__item.-line img {
    width: 10rem;
    height: 3rem;
  }
}
