/* メインビジュアル */
.mainViusal {
  width: 100%;
  height: 100vh;
  background: url(../img/seitai-02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: -1;
}

/* 当院について */
.about {
  padding: 10rem 0;
}
.aboutTitle__flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 6rem;
  position: relative;
}
.aboutTitle__wrap {
  position: relative;
  padding-top: 5rem;
  width: 50%;
}
.aboutTitle__flex::before {
  content: "";
  position: absolute;
  left: 0;
  background: #ffd79a;
  width: 100%;
  height: 1px;
  top: 2px;
}
.aboutTitle__flex::after {
  content: "";
  position: absolute;
  left: 0;
  background: #ff914d;
  top: 0;
  width: 30rem;
  height: 5px;
}
.aboutTitle {
  font-family: "Noto Serif JP", serif;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.8;
  margin-bottom: 10rem;
  position: relative;
  z-index: -1;
}
.aboutTitle__sub {
  font-family: "Noto Serif JP", serif;
  font-size: 4rem;
  color: #ff914d;
  margin-bottom: 1rem;
  position: relative;
}
.aboutTitle__img {
  width: 50%;
  height: auto;
  margin-top: 15rem;
  position: relative;
  box-shadow: 6px 6px #ffd79a;
  outline: 3px solid #fff;
  border: 1px solid #eee;
}

.aboutText {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 2rem;
  color: #333;
  font-size: 2.4rem;
  letter-spacing: 0.1em;
  margin-bottom: 8rem;
}
.aboutText__second {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 1.6rem;
  color: #333;
  line-height: 2;
  word-break: break-all;
  margin-bottom: 1.5rem;
}
.highlight {
  background: linear-gradient(transparent 60%, yellow 40%);
  display: inline;
  padding: 0 2px;
}
.aboutImg__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
.aboutImg__listItem {
  height: 24rem;
}
.aboutImg__listItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* <!-- 悩み解決 --> */
.counseling {
  padding: 10rem 0;
}
.counselingTitle {
  font-family: "Noto Serif JP", serif;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.8;
  margin-bottom: 5rem;
  position: relative;
  z-index: -1;
}

.counselingTitle__wrap {
  position: relative;
  padding-top: 5rem;
  width: 100%;
}
.counselingTitle__wrap::before {
  content: "";
  position: absolute;
  left: 0;
  background: #ffd79a;
  width: 100%;
  height: 1px;
  top: 2px;
}
.counselingTitle__wrap::after {
  content: "";
  position: absolute;
  left: 0;
  background: #ff914d;
  top: 0;
  width: 30rem;
  height: 5px;
}

.counselingTitle__sub {
  font-family: "Noto Serif JP", serif;
  font-size: 4rem;
  color: #ff914d;
  margin-bottom: 1rem;
  position: relative;
}

.counselingFlex {
  display: flex;
  margin-bottom: 10rem;
}
/* レ点チェック */
.counselingList {
  display: flex;
  flex-direction: column;
  width: 59%;
  margin-right: 2rem;
}
.counselingList__item {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}
.check-red {
  font-size: 2.4rem;
  color: red;
  background-color: transparent;
  margin-right: 1rem;
}
.counselingList__itemText {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 1.6rem;
  color: #333;
  letter-spacing: 0.1em;
  line-height: 1.8;
}
.counselingList__img {
  width: 45%;
  height: auto;
  object-fit: cover;
  outline: 3px solid #fff;
  box-shadow: 6px 6px #ffd79a;
}
.counselingText {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 1.6rem;
  color: #333;
  line-height: 1.8;
  margin-bottom: 2rem;
}

.counselingTrial__link {
  width: 70%;
  display: block;
  margin: auto;
  margin-top: 10rem;
  border: 5px double #ffd79a;
  padding: 5rem;
  background: #fff; /* 初期背景色 */
  position: relative;
  overflow: hidden;
  text-align: center; /* テキストを中央揃え */
}

.counselingTrial__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  transition: left 0.5s ease-in-out;
  z-index: 1;
}

.counselingTrial__link:hover::before {
  left: 100%;
}

.counselingTrial__link:hover {
  z-index: 0;
}

.counselingTrial {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  color: #000;
  text-align: center;
  margin-bottom: 4rem;
  letter-spacing: 0.1em;
}
.counselingTrial span {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 4rem;
  background: linear-gradient(
    45deg,
    #ff0000 30%,
    #ff4500 40%,
    #ff8c00 60%,
    #ffd700 80%,
    #fffacd
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.counselingTrial__text {
  display: block;
  font-size: 2.4rem;
  font-weight: bold;
  background: linear-gradient(
    45deg,
    #ff0000 30%,
    #ff4500 40%,
    #ff8c00 60%,
    #ffd700 80%,
    #fffacd
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  letter-spacing: 0.1em;
}

/* 院長紹介 */
.director {
  padding: 10rem 0;
}
.directorTitle__wrap {
  position: relative;
  padding-top: 5rem;
  width: 100%;
}
.directorTitle__wrap::before {
  content: "";
  position: absolute;
  left: 0;
  background: #ffd79a;
  width: 100%;
  height: 1px;
  top: 2px;
}
.directorTitle__wrap::after {
  content: "";
  position: absolute;
  left: 0;
  background: #ff914d;
  top: 0;
  width: 30rem;
  height: 5px;
}

.directorTitle__sub {
  font-family: "Noto Serif JP", serif;
  font-size: 4rem;
  color: #ff914d;
  margin-bottom: 1rem;
  position: relative;
}

.directorTitle {
  font-family: "Noto Serif JP", serif;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.8;
  margin-bottom: 5rem;
  position: relative;
  z-index: -1;
}

.directorName {
  font-family: "Noto Serif JP", serif;
  font-size: 3.6rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 1.8;
  margin-bottom: 3rem;
}
.directorImg {
  display: block;
  width: 30rem;
  height: 30rem;
  aspect-ratio: 300/300;
  object-fit: cover;
  border: 3px solid #ffd79a;
  border-radius: 50%;
  margin: auto;
}
.directorText__wrap {
  padding: 5rem;
  border: 5px double #ffd79a;
  margin-top: 2rem;
}
.directorText {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 2rem;
  color: #333;
  margin-bottom: 4rem;
  letter-spacing: 0.1em;
}
.directorText.-certification {
  display: flex;
  flex-direction: column;
}
.directorText.-certification span {
  font-weight: bold;
  margin-top: 3rem;
  letter-spacing: 0.15em;
}
.directorText.-message {
  line-height: 2;
  letter-spacing: 0.15em;
}
.direstorSns__flex {
  display: flex;
}
.direstorSns__icon.-x {
  display: block;
  width: 3rem;
  height: 3rem;
  text-align: center;
  padding-top: 0.5rem;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
  border: 1px solid #fff;
  border-radius: 50%;
  margin: auto;
}

/* 特色 */
.features {
  padding: 10rem 0;
}
.featuresTitle {
  font-family: "Noto Serif JP", serif;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.8;
  margin-bottom: 5rem;
  position: relative;
  z-index: -1;
}
.featuresTitle__wrap {
  position: relative;
  padding-top: 5rem;
  width: 100%;
}
.featuresTitle__wrap::before {
  content: "";
  position: absolute;
  left: 0;
  background: #ffd79a;
  width: 100%;
  height: 1px;
  top: 2px;
}
.featuresTitle__wrap::after {
  content: "";
  position: absolute;
  left: 0;
  background: #ff914d;
  top: 0;
  width: 30rem;
  height: 5px;
}
.featuresTitle__sub {
  font-family: "Noto Serif JP", serif;
  font-size: 4rem;
  color: #ff914d;
  margin-bottom: 1rem;
  position: relative;
}

.featuresText {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 2rem;
  color: #333;
  letter-spacing: 0.1em;
  margin-bottom: 8rem;
}
.featuresList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.featuresList__itemImg {
  width: 100%;
  height: auto;
  aspect-ratio: 300/300;
  object-fit: cover;
  padding: 0.5rem;
  border: 2px solid #ffd79a;
  border-radius: 50%;
  margin-bottom: 4rem;
}
.featuresList__itemTag {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  line-height: 1.6;
}
.featuresList__itemText {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 1.6rem;
  color: #333;
  text-align: left;
  text-wrap: break-all;
  line-height: 1.8;
}

/* 選ばれる理由 */
.reason {
  padding: 10rem 0;
}
.reasonTitle {
  font-family: "Noto Serif JP", serif;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.8;
  margin-bottom: 5rem;
  position: relative;
  z-index: -1;
}
.reasonTitle__wrap {
  position: relative;
  padding-top: 5rem;
  width: 100%;
}
.reasonTitle__wrap::before {
  content: "";
  position: absolute;
  left: 0;
  background: #ffd79a;
  width: 100%;
  height: 1px;
  top: 2px;
}
.reasonTitle__wrap::after {
  content: "";
  position: absolute;
  left: 0;
  background: #ff914d;
  top: 0;
  width: 30rem;
  height: 5px;
}
.reasonTitle__sub {
  font-family: "Noto Serif JP", serif;
  font-size: 4rem;
  color: #ff914d;
  margin-bottom: 1rem;
  position: relative;
}

.reasonText {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 2rem;
  color: #333;
  letter-spacing: 0.1em;
  margin-bottom: 3rem;
}
.reasonList {
  display: flex;
  flex-direction: column;
}
.reasonList__item {
  width: 85%;
  max-width: 1000px;
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 2rem;
  color: #000;
  padding: 3rem 1rem 3rem 5rem;
  border: 3px solid #ff8c00;
  border-radius: 8px;
  line-height: 1.8;
  letter-spacing: 0.1em;
  margin-bottom: 4rem;
  position: relative;
  text-indent: -2rem;
  position: relative;
  overflow: auto;
}
/* .reasonList__item:before {
  font-size: 3.5rem;
  font-family: "Font Awesome 5 Free";
  content: "\f0a4";
  position: absolute;
  left: 2.5rem;
  bottom: 3rem;
  color: #ff8c00;
  transform: rotate(-90deg);
} */
.reasonList__item span {
  font-weight: bold;
}
/* 治療の流れ */
.flow {
  padding: 10rem 0;
}
.flowTitle {
  font-family: "Noto Serif JP", serif;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.8;
  margin-bottom: 5rem;
  position: relative;
  z-index: -1;
}
.flowTitle__wrap {
  position: relative;
  padding-top: 5rem;
  width: 100%;
}
.flowTitle__wrap::before {
  content: "";
  position: absolute;
  left: 0;
  background: #ffd79a;
  width: 100%;
  height: 1px;
  top: 2px;
}
.flowTitle__wrap::after {
  content: "";
  position: absolute;
  left: 0;
  background: #ff914d;
  top: 0;
  width: 30rem;
  height: 5px;
}
.flowTitle__sub {
  font-family: "Noto Serif JP", serif;
  font-size: 4rem;
  color: #ff914d;
  margin-bottom: 1rem;
  position: relative;
}

.flowList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem;
}
.flowList__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border: 1px solid #ff914d;
  padding: 1rem;
}
.flowList__item::before {
  content: "";
  position: absolute;
  top: 50%; /* 高さを中央揃え */
  right: -3.5rem; /* 三角形を右側に配置 */
  transform: translateY(-50%); /* 垂直方向で中央揃え */
  width: 0;
  height: 0;
  border-top: 1.5rem solid transparent; /* 上辺（透明部分） */
  border-bottom: 1.5rem solid transparent; /* 下辺（透明部分） */
  border-left: 2.5rem solid #ff914d; /* 左辺（三角形の色） */
}
.flowList__item:nth-child(3)::before {
  content: none; /* 擬似要素を無効化 */
}
.flowList__itemTitle {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 0.1em;
  margin: 2rem 0;
}
.flowList__itemText {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 1.6rem;
  color: #333;
  letter-spacing: 0.1em;
  line-height: 1.8;
}
.flowList__itemImg {
  width: 100%;
  max-width: 100%;
  height: auto;
  aspect-ratio: 400/300;
  object-fit: cover;
  margin-top: 2rem;
}

/* 料金 */
.price {
  padding: 10rem 0;
}
.priceText__wrap {
  padding: 5rem;
  border: 5px double #ffd79a;
}

.priceTitle {
  font-family: "Noto Serif JP", serif;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.8;
  margin-bottom: 5rem;
  position: relative;
  z-index: -1;
}
.priceTitle__wrap {
  position: relative;
  padding-top: 5rem;
  width: 100%;
}
.priceTitle__wrap::before {
  content: "";
  position: absolute;
  left: 0;
  background: #ffd79a;
  width: 100%;
  height: 1px;
  top: 2px;
}
.priceTitle__wrap::after {
  content: "";
  position: absolute;
  left: 0;
  background: #ff914d;
  top: 0;
  width: 30rem;
  height: 5px;
}
.priceTitle__sub {
  font-family: "Noto Serif JP", serif;
  font-size: 4rem;
  color: #ff914d;
  margin-bottom: 1rem;
  position: relative;
}

.priceText {
  font-family: "Noto Serif JP", serif;
  font-size: 4rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  letter-spacing: 0.2em;
  margin-bottom: 4rem;
}
.priceText span {
  font-size: 7rem;
  font-weight: bold;
  color: #000000;
}
.priceText__arrow {
  display: block;
  font-size: 6rem;
  text-align: center;
  margin-bottom: 4rem;
}
.priceText__trialWrap {
  height: auto;
  padding: 4rem 0;
  margin-bottom: 8rem;
  border: 5px double #ffd79a;
}
.priceText__trial {
  font-family: "Noto Serif JP", serif;
  font-size: 4rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  letter-spacing: 0.2em;
  margin-bottom: 4rem;
}
.priceText__trial span {
  font-size: 7rem;
  font-weight: bold;
  background: linear-gradient(
    45deg,
    #ff0000 30%,
    #ff4500 40%,
    #ff8c00 60%,
    #ffd700 80%,
    #fffacd
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.priceText__trial.-second {
  font-family: "Noto Serif JP", serif;
  font-size: 2.4rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 0;
}

.priceReserve__numberText {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 2rem;
}
.priceReserve__numberText.-second {
  font-size: 1.6rem;
  font-weight: 500;
  color: #333;
  line-height: 2;
  margin-bottom: 5rem;
}
.priceReserve__lineText {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #333;
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 2;
  margin-bottom: 3rem;
}

.priceReserve__numberWrap {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}
.priceReserve__number {
  display: inline-flex;
  align-items: center;
  font-size: 5rem;
  font-weight: bold;
  color: #333;
  margin: auto;
}
.priceReserve__number:hover {
  color: #ff8c00;
}
.whiteIcon.-price {
  font-size: 3rem;
  color: #fff;
  background-color: #ff914d;
  border-radius: 50%;
  padding: 1rem;
  margin-right: 1rem;
}
.priceReserve__lineLink {
  font-size: 3rem;
  font-weight: bold;
  padding: 2rem;
  display: block;
  text-align: center;
}
.priceReserve__lineAdd img {
  display: block;
  width: 20rem;
  height: auto;
  margin: auto;
  margin-bottom: 3rem;
  border-radius: 8px;
}
.priceReserve__lineAdd img:hover {
  opacity: 0.8;
}

/* お客様の声 */
.voices {
  padding: 10rem 0;
}
.voicesTitle {
  font-family: "Noto Serif JP", serif;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.8;
  margin-bottom: 5rem;
  position: relative;
  z-index: -1;
}
.voicesTitle__wrap {
  position: relative;
  padding-top: 5rem;
  width: 100%;
}
.voicesTitle__wrap::before {
  content: "";
  position: absolute;
  left: 0;
  background: #ffd79a;
  width: 100%;
  height: 1px;
  top: 2px;
}
.voicesTitle__wrap::after {
  content: "";
  position: absolute;
  left: 0;
  background: #ff914d;
  top: 0;
  width: 30rem;
  height: 5px;
}
.voicesTitle__sub {
  font-family: "Noto Serif JP", serif;
  font-size: 4rem;
  color: #ff914d;
  margin-bottom: 1rem;
  position: relative;
}
.voicesText {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 2rem;
  color: #333;
  letter-spacing: 0.1em;
  margin-bottom: 5rem;
}
.voicesList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem 0;
}
.voicesList__item {
  width: 100%;
  height: 30rem;
  transition: all 0.3s;
  /* overflow: hidden; */
}
.voicesList__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}
.voicesList__item:hover img {
  /* transform: scale(1.1); */
}
.voicesList__itemLink {
  display: block;
  height: 100%;
  border: 1px solid #ff8c00;
  padding-bottom: 11rem;
}
.voicesList__itemLink :hover {
  opacity: 0.7;
}
.voicesList__itemText {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #333;
  text-align: center;
  padding: 1.2rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.1em;
}
.voicesList__itemText.-seocnd {
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  width: 50%;
  margin: auto;
  padding: 1rem;
  background-color: #ff914d;
  margin-bottom: 2rem;
}

/* レスポンシブ */
@media screen and (max-width: 1024px) {
  .voicesList {
    grid-template-columns: repeat(2, 1fr);
    gap: 15rem 0;
  }
  .priceText__wrap {
    padding: 5rem 2rem;
  }
  .priceText {
    font-size: 3.5rem;
  }
  .priceText span {
    font-size: 6rem;
  }
  .priceText__arrow {
    font-size: 5rem;
  }
  .priceText__trial {
    font-size: 3.5rem;
  }
  .priceText__trial span {
    font-size: 6rem;
  }
  .priceText__trial.-second {
    font-size: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .about,
  .counseling,
  .features,
  .reason,
  .flow,
  .director,
  .price {
    padding: 5rem 0;
  }
  .voices {
    padding: 5rem 0 15rem 0;
  }
  .aboutTitle__wrap,
  .counselingTitle__wrap,
  .featuresTitle__wrap,
  .reasonTitle__wrap,
  .flowTitle__wrap,
  .voicesTitle__wrap,
  .directorTitle__wrap,
  .priceTitle__wrap {
    padding-top: 3rem;
  }
  .aboutTitle__sub,
  .counselingTitle__sub,
  .featuresTitle__sub,
  .reasonTitle__sub,
  .flowTitle__sub,
  .voicesTitle__sub,
  .directorTitle__sub,
  .priceTitle__sub {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
  }
  .aboutTitle__flex::after,
  .counselingTitle__wrap::after,
  .featuresTitle__wrap::after,
  .reasonTitle__wrap::after,
  .flowTitle__wrap::after,
  .voicesTitle__wrap::after,
  .directorTitle__wrap::after,
  .priceTitle__wrap::after {
    width: 20rem;
  }
  .aboutTitle,
  .counselingTitle,
  .featuresTitle,
  .reasonTitle,
  .flowTitle,
  .voicesTitle,
  .directorTitle,
  .priceTitle {
    font-size: 2rem;
  }
  .aboutText,
  .featuresText,
  .reasonText {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  /* 当院について */
  .aboutText__second {
    font-size: 1.4rem;
  }
  .aboutImg__list {
    gap: 1rem;
  }
  .aboutImg__listItem {
    height: 15rem;
  }
  /* 悩み解決 */
  .counselingFlex {
    flex-direction: column;
    margin-bottom: 5rem;
  }
  .counselingList {
    width: 100%;
  }
  .counselingList__item {
    margin-bottom: 3rem;
  }

  .counselingList__img {
    width: 60%;
  }
  .counselingTitle.-second {
    font-size: 1.6rem;
    margin-bottom: 2rem;
  }
  .counselingText {
    font-size: 1.4rem;
  }
  .counselingTrial {
    margin-bottom: 1rem;
    line-height: 1.6;
  }
  .counselingTrial__link {
    width: 80%;
    margin-top: 5rem;
    padding: 1rem 0 2rem;
    line-height: 1.8;
  }
  /* 特色 */
  .featuresList {
    gap: 2rem;
  }
  .featuresList__itemImg {
    width: 90%;
    margin-bottom: 2rem;
  }
  .featuresList__itemTag {
    font-size: 1.6rem;
  }
  .featuresList__itemText {
    font-size: 1.4rem;
  }
  /* 理由 */
  .reasonList__item {
    font-size: 1.4rem;
    margin-bottom: 3rem;
  }
  /* 施術の流れ */
  .flowList {
    grid-template-columns: repeat(1, 1fr);
    gap: 8rem;
  }
  .flowList__item {
    /* padding: 1rem 3rem 3rem 3rem; */
  }
  .flowList__item::before {
    right: 50%;
    top: unset;
    bottom: -6rem;
    transform: translateY(-50%) rotate(90deg);
  }
  .flowList__itemImg {
    aspect-ratio: 400/200;
  }
  /* お客様の声 */
  .voicesList {
    grid-template-columns: repeat(1, 1fr);
    gap: 15rem 0;
  }
  /* 代表挨拶 */
  .directorName {
    font-size: 2.8rem;
  }
  .directorImg {
    width: 25rem;
    height: 25rem;
  }
  .directorText__wrap {
    padding: 4rem 3rem;
  }
  .directorText {
    font-size: 1.4rem;
  }
  .directorText.-message {
    margin-bottom: 0;
  }
  /* 料金 */
  .priceText,
  .priceText__trial {
    font-size: 2.5rem;
  }
  .priceText {
    margin-bottom: 3rem;
  }
  .priceText span,
  .priceText__trial span {
    font-size: 4.5rem;
  }
  .priceText__arrow {
    font-size: 3.5rem;
    margin-bottom: 3rem;
  }
  .priceText__trial.-second {
    font-size: 1.8rem;
  }
  .priceReserve__numberText {
    font-size: 2.4rem;
  }
  .priceReserve__number {
    font-size: 4.5rem;
  }
  .whiteIcon.-price {
    font-size: 2.5rem;
  }
  .priceReserve__numberText.-second {
    margin-bottom: 3rem;
  }
  .priceReserve__lineLink {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 480px) {
  .aboutTitle__sub,
  .counselingTitle__sub,
  .featuresTitle__sub,
  .reasonTitle__sub,
  .flowTitle__sub,
  .voicesTitle__sub,
  .directorTitle__sub,
  .priceTitle__sub {
    font-size: 2.5rem;
  }
  .aboutTitle,
  .counselingTitle,
  .featuresTitle,
  .reasonTitle,
  .flowTitle,
  .voicesTitle,
  .directorTitle,
  .priceTitle {
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }
  .aboutTitle__flex,
  .counselingFlex {
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .aboutTitle__flex::after,
  .counselingTitle__wrap::after,
  .featuresTitle__wrap::after,
  .reasonTitle__wrap::after,
  .flowTitle__wrap::after,
  .voicesTitle__wrap::after,
  .directorTitle__wrap::after,
  .priceTitle__wrap::after {
    width: 15rem;
  }
  /* 当院について */
  .aboutTitle__img {
    width: 95%;
    margin-top: 0;
  }
  .aboutText,
  .featuresText,
  .reasonText,
  .voicesText {
    font-size: 1.4rem;
    line-height: 1.8;
    margin-bottom: 2rem;
  }
  .aboutText__second {
    font-size: 1.2rem;
  }
  .aboutImg__list {
    grid-template-columns: repeat(1, 1fr);
  }
  .aboutImg__listItem:last-child {
    display: none;
  }
  /* 悩み解決 */
  .counselingList__item {
    align-items: unset;
    margin-bottom: 2rem;
  }
  .check-red {
    padding-top: 0.4rem;
  }
  .counselingList__itemText {
    font-size: 1.4rem;
  }
  .check-red {
    font-size: 2rem;
  }
  .counselingList__img {
    width: 95%;
  }
  .counselingText {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .counselingTrial__link {
    width: 90%;
  }
  .counselingTrial {
    font-size: 2rem;
    line-height: 1.4;
  }
  .counselingTrial span {
    font-size: 3.5rem;
  }
  .counselingTrial__text {
    font-size: 1.8rem;
  }

  /* 特色 */
  .featuresList {
    grid-template-columns: repeat(1, 1fr);
    gap: 2.5rem;
  }
  .featuresList__itemImg {
    width: 70%;
    margin: auto;
    margin-bottom: 2rem;
  }

  /* 理由 */
  .reasonList__item {
    font-size: 1.2rem;
    padding: 1.5rem 1rem 1.5rem 3rem;
    text-indent: -1.5rem;
    margin-bottom: 2rem;
  }

  /* お客様の声 */
  .voicesList__itemText {
    font-size: 1.4rem;
  }
  .voicesList__itemText.-seocnd {
    font-size: 1.6rem;
  }

  /* 代表挨拶 */
  .directorName {
    font-size: 2.4rem;
  }
  .directorImg {
    width: 20rem;
    height: 20rem;
  }
  /* 料金 */
  .priceText__wrap {
    padding: 4rem 1rem 1rem 1rem;
  }
  .priceText {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  .priceText span {
    font-size: 3rem;
  }
  .priceText__arrow {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
  .priceText__trialWrap {
    margin-bottom: 5rem;
  }
  .priceText__trial {
    font-size: 2rem;
    letter-spacing: 0.1em;
  }
  .priceText__trial span {
    font-size: 3rem;
  }
  .priceReserve__numberText {
    font-size: 2rem;
  }
  .priceReserve__numberWrap {
    margin-bottom: 3rem;
  }
  .priceReserve__number {
    font-size: 3rem;
  }
  .whiteIcon.-price {
    font-size: 1.5rem;
  }
  .priceReserve__numberText.-second {
    font-size: 1.2rem;
  }
  .priceReserve__lineLink {
    font-size: 2rem;
    padding: 2rem;
  }
  .priceReserve__lineText {
    font-size: 1.2rem;
  }
  .priceReserve__lineAdd img {
    width: 15rem;
    margin-bottom: 2rem;
  }
}
