/* メインビジュアル */
.mainViusal {
  width: 100%;
  height: 100vh;
  background: url(../img/seitai-02.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: -1;
}

/* 当院について */
.about {
  padding: 10rem 0;
}
.aboutText__wrap {
  margin-bottom: 6rem;
}
.aboutTitle {
  font-family: "Noto Sans JP", "Noto Sans Japanese";
  font-size: 2.8rem;
  letter-spacing: 0.1em;
  line-height: 1.8;
  margin-bottom: 10rem;
  position: relative;
  z-index: -1;
}
.aboutTitle::after {
  position: absolute;
  display: block;
  content: "ABOUT";
  font-size: 9rem;
  font-weight: 500;
  color: #eee;
  top: -7rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
}
.aboutText {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 2.4rem;
  letter-spacing: 0.1em;
  margin-bottom: 8rem;
}
.aboutText__second {
  font-size: 1.6rem;
  line-height: 2;
  word-break: break-all;
  margin-bottom: 1.5rem;
}
.highlight {
  background: linear-gradient(transparent 60%, yellow 40%);
  display: inline;
  padding: 0 2px;
}
.aboutImg__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.aboutImg__listItem {
  height: 24rem;
}
.aboutImg__listItem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 院長紹介 */
.director {
  padding: 10rem 0;
}
.directorTitle {
  font-family: "Noto Sans JP", "Noto Sans Japanese";
  font-size: 2.8rem;
  letter-spacing: 0.1em;
  line-height: 1.8;
  margin-bottom: 10rem;
  position: relative;
  z-index: -1;
}
.directorTitle::after {
  position: absolute;
  display: block;
  content: "DIRECTOR";
  font-size: 9rem;
  font-weight: 500;
  color: #eee;
  top: -7rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
}
.directorName {
  font-family: "Noto Sans JP", "Noto Sans Japanese";
  font-size: 3.6rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 1.8;
  margin-bottom: 3rem;
}
.directorImg {
  display: block;
  width: 30rem;
  height: 30rem;
  aspect-ratio: 300/300;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 50%;
  margin: auto;
}
.directorText__wrap {
  padding: 15rem 5rem 5rem 5rem;
  border: 5px double #ffd79a;
  margin-top: -12rem;
}
.directorText {
  font-family: "Noto Sans JP", "Noto Sans Japanese";
  font-size: 2rem;
  font-weight: 500;
  color: #333;
  margin-bottom: 4rem;
}

/* <!-- 悩み解決 --> */
.resolve {
  padding: 10rem;
}
.resolveTitle {
  font-family: "Noto Sans JP", "Noto Sans Japanese";
  font-size: 2.4rem;
  letter-spacing: 0.1em;
  line-height: 1.8;
  margin-bottom: 6rem;
}
.resolveFlex {
  display: flex;
  margin-bottom: 10rem;
}
/* レ点チェック */
.resolveList {
  display: flex;
  flex-direction: column;
  width: 59%;
  margin-right: 2rem;
}
.resolveList__item {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}
.check-red {
  font-size: 2.4rem;
  color: red;
  background-color: transparent;
  margin-right: 1rem;
}
.resolveList__itemText {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.1em;
  line-height: 1.8;
}
.resolveList__img {
  width: 45%;
  height: auto;
}
.resolveText {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 2rem;
  line-height: 1.8;
  margin-bottom: 2rem;
}

/* 特色 */
.features {
  padding: 10rem 0;
}
.featuresTitle {
  font-family: "Noto Sans JP", "Noto Sans Japanese";
  font-size: 2.8rem;
  letter-spacing: 0.1em;
  line-height: 1.8;
  margin-bottom: 10rem;
  position: relative;
  z-index: -1;
}
.featuresTitle::after {
  position: absolute;
  display: block;
  content: "FEATURES";
  font-size: 9rem;
  font-weight: 500;
  color: #eee;
  top: -7rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
}
.featuresText {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 2.4rem;
  letter-spacing: 0.1em;
  margin-bottom: 8rem;
}
.featuresList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}

.featuresList__itemImg {
  width: 100%;
  height: auto;
  aspect-ratio: 300/300;
  object-fit: cover;
  padding: 0.5rem;
  border: 2px solid #ffd79a;
  border-radius: 50%;
  margin-bottom: 4rem;
}
.featuresList__itemTag {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  line-height: 1.6;
}
.featuresList__itemText {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 1.6rem;
  text-align: left;
  text-wrap: break-all;
  line-height: 1.8;
}

/* 治療の流れ */
.flow {
  padding: 10rem 0;
}
.flowTitle {
  font-family: "Noto Sans JP", "Noto Sans Japanese";
  font-size: 2.8rem;
  letter-spacing: 0.1em;
  line-height: 1.8;
  margin-bottom: 10rem;
  position: relative;
  z-index: -1;
}
.flowTitle::after {
  position: absolute;
  display: block;
  content: "FLOW";
  font-size: 9rem;
  font-weight: 500;
  color: #eee;
  top: -7rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
}
.flowList {
  display: flex;
  flex-direction: column;
}
.flowList__itemTitle {
  font-size: 2.4rem;
  margin-bottom: 2rem;
}
.flowList__itemText {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 2rem;
  letter-spacing: 0.1em;
  line-height: 1.8;
  margin-bottom: 2rem;
}
.flowList__itemImg {
  width: 40rem;
  height: auto;
  aspect-ratio: 400/300;
  object-fit: cover;
}

/* 料金 */
.price {
  padding: 10rem 0;
}
.priceTitle {
  font-family: "Noto Sans JP", "Noto Sans Japanese";
  font-size: 2.8rem;
  letter-spacing: 0.1em;
  line-height: 1.8;
  margin-bottom: 10rem;
  position: relative;
  z-index: -1;
}
.priceTitle::after {
  position: absolute;
  display: block;
  content: "Price";
  font-size: 9rem;
  font-weight: 500;
  color: #eee;
  top: -7rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
}
.priceText__wrap {
  padding: 5rem;
  border: 5px double #ffd79a;
}
.priceText {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  letter-spacing: 0.2em;
  margin-bottom: 4rem;
}
.priceText span {
  font-size: 7rem;
  font-weight: bold;
  color: #000000;
}
.priceText__arrow {
  display: block;
  font-size: 6rem;
  text-align: center;
  margin-bottom: 4rem;
}
.priceText__trialWrap {
  width: 100%;
  height: auto;
  padding: 4rem 0;
  margin-bottom: 8rem;
  border: 5px double #ffd79a;
}
.priceText__trial {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 4rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  letter-spacing: 0.2em;
  margin-bottom: 4rem;
}
.priceText__trial span {
  font-size: 7rem;
  font-weight: bold;
  background: linear-gradient(
    45deg,
    #ff0000 30%,
    #ff4500 40%,
    #ff8c00 60%,
    #ffd700 80%,
    #fffacd
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.priceText__trial.-second {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 0;
}

.priceReserve__numberText {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 2rem;
}
.priceReserve__numberText.-second {
  font-size: 2rem;
  font-weight: 500;
  color: #333;
  line-height: 2;
}
.priceReserve__lineText {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #333;
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 2rem;
  line-height: 2;
}

.priceReserve__numberWrap {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}

.priceReserve__number:hover {
  opacity: 0.8;
}
.priceReserve__number {
  display: inline-flex;
  align-items: center;
  font-size: 5rem;
  font-weight: bold;
  color: #333;
  margin: auto;
}
.whiteIcon.-price {
  font-size: 3rem;
  color: #fff;
  background-color: #ff914d;
  border-radius: 50%;
  padding: 1rem;
  margin-right: 1rem;
}
.priceReserve__lineLink {
  font-size: 3rem;
  font-weight: bold;
  padding: 2rem;
  display: block;
  text-align: center;
  margin-bottom: 4rem;
}

/* お客様の声 */
.voices {
  padding: 10rem 0;
}
.voicesTitle {
  font-family: "Noto Sans JP", "Noto Sans Japanese";
  font-size: 2.8rem;
  letter-spacing: 0.1em;
  line-height: 1.8;
  margin-bottom: 10rem;
  position: relative;
  z-index: -1;
}
.voicesTitle::after {
  position: absolute;
  display: block;
  content: "VOICEs";
  font-size: 9rem;
  font-weight: 500;
  color: #eee;
  top: -7rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
}
.voicesText {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 2.4rem;
  letter-spacing: 0.1em;
  margin-bottom: 8rem;
}
.voicesList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 4rem 0;
}
.voicesList__item {
  width: 100%;
  height: 30rem;
  transition: all 0.3s;
  /* overflow: hidden; */
}
.voicesList__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s;
}
.voicesList__item:hover img {
  /* transform: scale(1.1); */
}
.voicesList__itemText {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  background-color: #eee;
  padding: 1.2rem;
  letter-spacing: 0.1em;
}

/* アクセス */
.access {
  padding: 10rem 0;
}
.accessTitle {
  font-family: "Noto Sans JP", "Noto Sans Japanese";
  font-size: 2.8rem;
  letter-spacing: 0.1em;
  line-height: 1.8;
  margin-bottom: 10rem;
  position: relative;
  z-index: -1;
}
.accessTitle::after {
  position: absolute;
  display: block;
  content: "ACCESS";
  font-size: 9rem;
  font-weight: 500;
  color: #eee;
  top: -7rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: -2;
}
.accessText {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 2.4rem;
  letter-spacing: 0.1em;
  margin-bottom: 8rem;
}
.accessList {
  display: flex;
  margin: 5rem 0 10rem;
}
.accessList__item {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 2.4rem;
  list-style: disc;
  letter-spacing: 0.1em;
  margin-right: 4rem;
  margin-left: 2rem;
}
.accessList__item span {
  font-weight: bold;
}
.accessList__link {
  display: block;
  width: 40%;
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #fff;
  background-color: #ff914d;
  text-align: center;
  margin: auto;
  padding: 2rem;
  border-radius: 10px;
}
.accessList__link:hover {
  opacity: 0.7;
}
