/* お客様の声一覧ページ */
.archiveVoices {
  padding: 20rem 0;
}
.archiveVoices__titleWrap {
  position: relative;
  padding-top: 5rem;
  width: 100%;
}
.archiveVoices__titleWrap::before {
  content: "";
  position: absolute;
  left: 0;
  background: #ffd79a;
  width: 100%;
  height: 1px;
  top: 2px;
}
.archiveVoices__titleWrap::after {
  content: "";
  position: absolute;
  left: 0;
  background: #ff914d;
  top: 0;
  width: 30rem;
  height: 5px;
}
.archiveVoices__titleSub {
  font-family: "Noto Serif JP", serif;
  font-size: 4rem;
  color: #ff914d;
  margin-bottom: 1rem;
  position: relative;
}
.archiveVoices__title {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  color: #333;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.8;
  margin-bottom: 8rem;
  position: relative;
  z-index: -1;
}
.archiveVoices__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15rem 0;
}
.archiveVoices__item {
  width: 100%;
  height: 30rem;
  transition: all 0.3s;
}
.archiveVoices__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 100/100;
  transition: transform 0.3s;
}
.archiveVoices__itemLink {
  display: block;
  height: 100%;
  border: 1px solid #ff8c00;
  padding-bottom: 11rem;
}
.archiveVoices__itemLink:hover {
  opacity: 0.8;
}
.archiveVoices__itemText {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #333;
  text-align: center;
  padding: 1.2rem;
  margin-bottom: 0.5rem;
  letter-spacing: 0.1em;
}
.archiveVoices__itemText.-second {
  display: block;
  font-size: 1.8rem;
  font-weight: bold;
  color: #fff;
  width: 50%;
  margin: auto;
  padding: 1rem;
  background-color: #ff914d;
  margin-bottom: 2rem;
}
.archiveVoices__itemText.-second:hover {
  opacity: 0.7;
}
.archiveVoices__itemText.-third {
  color: #333;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  letter-spacing: 0.1em;
}
/* ページネーション */
.archiveVoices__Wrap {
  position: relative;
  padding-bottom: 10rem;
}
.archiveVoices__Pagination {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
}
.archiveVoices__Pagination .page-numbers {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  padding: 0.5rem;
  width: 3rem;
  height: 3rem;
  border: 1px solid #ddd;
  margin-right: 1rem;
}
.archiveVoices__Pagination .page-numbers:hover {
  color: #fff;
  background-color: #ff8c00;
}
.archiveVoices__Pagination .page-numbers.current {
  color: #fff;
  background-color: #ff8c00;
  border: none;
}
.archiveVoices__Pagination .page-numbers.current:hover {
  opacity: 1;
}

/* お客様の声個別ページ */
.singleVoices {
  padding: 20rem 0;
}
.singleVoices__titleWrap {
  position: relative;
  padding-top: 5rem;
  width: 100%;
}
.singleVoices__titleWrap::before {
  content: "";
  position: absolute;
  left: 0;
  background: #ffd79a;
  width: 100%;
  height: 1px;
  top: 2px;
}
.singleVoices__titleWrap::after {
  content: "";
  position: absolute;
  left: 0;
  background: #ff914d;
  top: 0;
  width: 30rem;
  height: 5px;
}
.singleVoices__titleSub {
  font-family: "Noto Serif JP", serif;
  font-size: 4rem;
  color: #ff914d;
  margin-bottom: 1rem;
  position: relative;
}
.singleVoices__title {
  font-family: "Noto Serif JP", serif;
  font-size: 2.4rem;
  font-weight: 500;
  letter-spacing: 0.1em;
  line-height: 1.8;
  margin-bottom: 5rem;
  position: relative;
  z-index: -1;
}
.singleVoices__subTitle {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 2.4rem;
  font-weight: 500;
  color: #ff914d;
  margin-bottom: 3rem;
  position: relative;
}
.singleVoices__contentText {
  font-family: "Hiragino Kaku Gothic Pro", "Arial", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 3rem;
}
.singleVoices__contentText img {
  width: 100%;
  margin-bottom: 3rem;
}
.singleVoices__contentText p {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-bottom: 1rem;
  line-height: 1.6;
}
.singleVoices__youtube iframe {
  display: block;
  width: 100%;
  height: 50rem;
  margin-bottom: 5rem;
}
.singleVoices__youtube iframe:hover {
  opacity: 0.8;
}
@media screen and (max-width: 1024px) {
  .archiveVoices__item {
    height: 20rem;
  }
}

@media screen and (max-width: 768px) {
  .singleVoices {
    padding: 10rem 0 5rem;
  }
  .archiveVoices {
    padding: 20rem 0 15rem;
  }
  .singleVoices__titleWrap::after,
  .archiveVoices__titleWrap::after {
    width: 20rem;
  }
  .singleVoices__titleSub,
  .archiveVoices__titleSub {
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
  }
  .singleVoices__title,
  .archiveVoices__title {
    font-size: 2rem;
    margin-bottom: 3rem;
  }
  .singleVoices__subTitle,
  .archiveVoices__subTitle {
    font-size: 2rem;
  }
  .singleVoices__youtube iframe {
    height: 40rem;
    margin-bottom: 3rem;
  }
  .singleVoices__contentText {
    font-size: 1.6rem;
  }
  .singleVoices__contentText p {
    font-size: 1.6rem;
  }
  .archiveVoices__itemLink {
    padding-bottom: 10rem;
  }
  .archiveVoices__item {
    height: 15rem;
  }
  .archiveVoices__itemText {
    font-size: 1.4rem;
  }
  .archiveVoices__itemText.-second {
    font-size: 1.4rem;
  }
  .archiveVoices__Pagination .page-numbers {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.8rem;
  }
  .archiveVoices__itemText.-third {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 480px) {
  .singleVoices__titleWrap::after,
  .archiveVoices__titleWrap::after {
    width: 15rem;
  }
  .singleVoices__title,
  .archiveVoices__title {
    font-size: 1.6rem;
    margin-bottom: 3rem;
  }
  .singleVoices__titleSub,
  .archiveVoices__titleSub {
    font-size: 2.4rem;
  }
  .singleVoices__subTitle,
  .archiveVoices__subTitle {
    font-size: 1.4rem;
  }
  .singleVoices__youtube iframe {
    height: 20rem;
    margin-bottom: 2rem;
  }
  .singleVoices__contentText {
    font-size: 1.4rem;
  }
  .singleVoices__contentText p {
    font-size: 1.4rem;
  }
  .archiveVoices__Wrap {
    padding-bottom: 7rem;
  }
  .archiveVoices__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 12rem 0;
  }
  .archiveVoices__item {
    height: 12rem;
  }
  .archiveVoices__itemLink {
    padding-bottom: 9rem;
  }
  .archiveVoices__itemText {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  .archiveVoices__itemText.-second {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
  }
  .archiveVoices__Pagination .page-numbers {
    width: 2rem;
    height: 2rem;
    font-size: 1.6rem;
  }
  .archiveVoices__itemText.-third {
    font-size: 1.6rem;
  }
}
